<div *ngIf="spinner" class="data-loading-container">
    <spinner class="description-spinner" [size]="30" [tickness]="3" [color]="'#d34343'"></spinner>
    <div>Loading Additional Data</div>
</div>

<div *ngIf="!spinner" class="data-container">
    <div class="title-container">
        <a *ngIf="photoTitle" href="{{ imageUrl }}" title="{{ photoTitle }}" class="title-text">
            {{ photoTitle }}
        </a>
        <span *ngIf="!photoTitle"> No Title</span>
        <span>
            by
            <a *ngIf="author" href="https://www.flickr.com/photos/{{ authorUsername }}">
                {{ author }}
            </a>
            <span *ngIf="!author">UNKNOWN</span>
        </span>
    </div>
    <div class="description-container">
        <strong>Description:</strong>
        <div [class.desc-height]="!description">
            <span *ngIf="!description">No description avaliable</span>
            <read-more [inputData]="description" *ngIf="description">
                {{description}}
            </read-more>
        </div>
    </div>
    <div class="tag-container">
        <strong>Tags:</strong>
        <read-more [inputData]="tags" *ngIf="tags">
            <span *ngFor="let tag of tags; let i = index;">
                {{ tag._content }}<span *ngIf="i !== (tags.length - 1)">,</span>
            </span>
        </read-more>
        <span *ngIf="!tags">No Tags</span>
    </div>
</div>