<div class="container-fluid">

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <input class="form-control" name="search" (keydown)="onEnterPress(currentSearch, $event)" placeholder="Search for Title or description" type="text" [(ngModel)]="currentSearch">
        </div>
        <div class="col-md-6">
          <button class="btn btn-success" (click)="search(currentSearch)">Search</button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <spinner class="spinner" [size]="120" *ngIf="spinner" [tickness]="3" [color]="'#faa933'"></spinner>
    <div class="album py-5 bg-light">
      <div class="container">


        <div class="row">
          <div class="col-md-4" *ngFor="let imageObj of imageContentArray | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems }">
            <div class="card mb-4 box-shadow">
              <a href="#{{ imageObj.id }}" class="lightbox">
                <img class="card-img-top small-image" style=" max-width: 100%; display: block;" [src]="constructImageUrl(imageObj.farm, imageObj.server, imageObj.id, imageObj.secret)"
                  alt="">
              </a>

              <div class="lightbox-target" id="{{ imageObj.id }}">
                <img class="card-img-top" [src]="constructImageUrl(imageObj.farm, imageObj.server, imageObj.id, imageObj.secret)" alt="">
                <a class="lightbox-close" href="#"></a>
              </div>

              <div class="card-body">
                <p class="card-text">
                  {{ imageObj.title }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <pagination-controls class="my-pagination" previousLabel="" nextLabel="" (pageChange)="p = $event;  getServerData($event)"></pagination-controls>

      </div>

    </div>

  </section>
  


</div>