.small-image {
    max-width: 100%;
    width: auto;
    display: block;
    max-height: 250px;
    height: auto;
    margin: 0 auto;
}

#infinite-scroller {
    height: 800px;
    width: 100%;
    overflow-y: scroll;
    padding: 0;
    list-style: none;
  
    div.col-md-4 {
      padding : 10px 5px;
      line-height: 1.5;
    
    }

    .lightbox {
      padding: 1.25rem 1.25rem 0 1.25rem;
    }
  }