<div class="container-fluid">

  <section>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>
          Welcome to the App. Please enjoy the content.
        </h1> 
      </div>
    </div>
  </section>

  <section>
    <div class="container">
        <div class="search">
            <span>Search:</span>
            <input name="search" placeholder="Search for Title or description" type="text" [(ngModel)]="currentSearch">
            <button (click)="search(currentSearch)">Search</button>
        </div>
      <div class="images-container clearfix">
          <div class="image-box" *ngFor="let imageObj of imageContentArray | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems }">
            
            <a href="#{{ imageObj.id }}" class="lightbox">
                <img [src]="constructImageUrl(imageObj.farm, imageObj.server, imageObj.id, imageObj.secret)" alt="">
            </a>

            <div class="lightbox-target" id="{{ imageObj.id }}">
                <img [src]="constructImageUrl(imageObj.farm, imageObj.server, imageObj.id, imageObj.secret)" alt="">
                <a class="lightbox-close" href="#"></a>
             </div>
            
          <p>
            {{ imageObj.title }}
          </p>
          </div>
      </div>
      <pagination-controls class="my-pagination" previousLabel="" nextLabel="" (pageChange)="p = $event;  getServerData($event)"></pagination-controls>
    </div>

  </section>


</div>
